<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="client.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
<nav>
        <div class="left">
            <img src="/img/QuickScheduleWordMarkLogo.png" alt="logo" height="50">
        </div>
	<h1>{{businessName}}</h1>
        <div class="right">
            <form action="/home" method="get">
            <button>home</button>
	</form>
	<form>
            <button onclick="history.back()">Back</button>
	</form>
	<form action="/loggout" method="get">
            <button>Logout</button>
	</form>
        </div>
      </nav>

    <title>{{title}}</title>
</head>
<body>
	  <nav>
        <div class="left">
            <img src="/img/QuickScheduleWordMarkLogo.png" alt="logo" height="50">
	{{businessName}}
        </div>
        <div class="right">
            <form action="/home" method="get">
            <button>home</button>
	</form>
	<form>
            <button onclick="history.back()">Back</button>
	</form>
	<form action="/loggout" method="get">
            <button>Logout</button>
	</form>
        </div>
      </nav>
    <div class="main" id="login">
      
        <img src="/img/QuickScheduleWordMarkLogo.png" alt="logo" height="70">
     <h3>{{type}}</h3>
    <p>
       {{message}}
    </p>
</body>
</html>